#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.map
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
standby.code
resume1.code

#
# Gcov files
#
*.gcda
*.gcno
*.gcov

#
# Top-level generic files
#
/tags
/TAGS
#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore

*.orig
*~
\#*#


# OrangePi external
OrangePiH5/
OrangePiA64/
OrangePiH3/
OrangePiH2/
